
.headerButton,
button,
.footerButton {
  padding: 5px 50px;

  text-transform: capitalize;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: 1.5px;

  cursor: pointer;

  background: $buttons;
  color: $primary;

  transition: background 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background: $tertiary;
    color: $buttons;
  }

  &:active {
    transform: scale(1.05);
  }

}

button {
  border: none;
}