footer {
  padding: 100px 0;
  background: $primary;

  position: relative;

  // Flexing Elements
  .flexContainer {
    @include flex(row-reverse, 0, center);
    flex-wrap: wrap;

    .textContainer {
      flex: 1 0 475px;
    }

    .imageContainer {
      flex: 0 0 400px;
    }
  }
  
  // Text Container
  .textContainer {
    padding: 50px;
    
    background: $secondary;
    border-radius: 20px;

    h3 {
      padding-bottom: 20px;
    }
  }
  
  // Image Container
  .imageContainer {
    margin-right: 50px;
    padding: 20px 0;
  }
  
  .footerButton {
    margin: 30px auto 30px auto;
  }

  // Attribution
  .attribution {
    width: 440px;
  }
  
  // JavaScript Effect
  display: none;
  
  // End of Footer
}
