footer {
  height: 100vh;
  padding: 50px 0;
  background: $primary;

  position: relative; // this is for attribution, delete if not needed

  // Flexing Elements
  .flexContainer {
    @include flex(row-reverse, 0, center);
    flex-wrap: wrap;

    .textContainer {
      flex: 1 0 475px;
    }

    .imageContainer {
      flex: 0 0 400px;
    }
  }
  
  // Text Container
  .textContainer {
    padding: 50px;
    
    background: $secondary;
    border-radius: 20px;
  }
  
  // Image Container
  .imageContainer {
    margin-right: 50px;
  }
  
  .footerButton {
    margin: 20px auto 0 auto;
    
  }
  
  // JavaScript Effect
  display: none;
  
  // End of Footer
}
