header {
  padding: 45px 0;
  background: $primary;

  position: relative;

  // Text Container Styles
  .textContainer {
    width: 85%;
    padding: 20px 0px;

    border: 10px solid $tertiary;
    border-radius: 50px;

    background: $secondary;

    h1 {
      padding-bottom: 20px;
    }

    p {
      width: 90%;
      margin: 0 auto;
    }
    // End of Text Container
  }

  .flexContainer {
    @include flex(column, center, center);
  }

  // Element Image Styles
  ul {
    @include flex(row, center, 0);
    flex-wrap: wrap;

    .imageContainer {
      width: 250px;

      transition: opacity 0.5s;
    }

    li {
      position: relative;
    }

    .imageContainer:hover ~ .overlay {
      opacity: 1;
    }

    .imageContainer:hover {
      opacity: 0.15;
    }
  }

  .overlay {
    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;

    transition: opacity 0.5s;
  }
  // End of Element Styles

  // Button
  .headerButton {
    margin: 20px 0 20px 0;
    padding: 10px 65px;
  }

// End of Header
}
