
header {
  height: 100vh;
  background: $primary;

  // Text Container
  .textContainer {
    width: 85%;
    padding: 40px 0px;
    margin-top: 40px;
    text-align: center;

    border: 10px solid $tertiary;
    border-radius: 50px;

    background: $secondary;

    h1 {
      padding-bottom: 20px;
    }

    p {
      width: 70%;
      margin: 0 auto;
    }

  }


  .flexContainer {
    @include flex(column, center, center);
  }

  // Elements
  ul {
    @include flex(row, center, 0);

    .imageContainer {
      width: 250px;
    }
  }


  .attribution {
    width: 280px;
    padding: 0 20px 5px 0;

    text-align: left;
    font-size: 1.6rem;

    position: absolute;
    right: 0;
    bottom: 0;

    a {
      text-decoration: none;
      color: #000000;

      &:hover,
      &:focus {
        color: $tertiary;
      }
    }
  }



}
