
header {
  padding: 50px 0;
  background: $primary;

  position: relative;

  // Text Container Styles
  .textContainer {
    width: 85%;
    padding: 40px 0px;

    border: 10px solid $tertiary;
    border-radius: 50px;

    background: $secondary;

    h1 {
      padding-bottom: 20px;
    }

    p {
      width: 70%;
      margin: 0 auto;
    }
    // End of Text Container
  }

  .flexContainer {
    @include flex(column, center, center);
  }

  // Elements
  ul {
    @include flex(row, center, 0);
    flex-wrap: wrap;

    .imageContainer {
      width: 250px;
    }
  }

  .headerButton {
    margin-top: 20px;
  }





}
