// Header Queries ----->
@media (max-width: 1175px) {
  header ul {
    width: 78%;
  }
}

@media (max-width: 800px) {
  header {
    ul {
      width: 100%;
    } 

    .textContainer {
      h1 {
        font-size: 5.5rem;
      }
    
      p {
        font-size: 2.75rem;
      }
    }
  }

  // End of Query
}

@media (max-width: 625px) {
  header .textContainer {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 2rem;
    }

  }

  header ul .imageContainer {
    width: 150px;
  }
  
// End of Query
}

@media (max-width: 450px) {
  header {
    padding: 0 0 45px 0;
    .wrapper,
    .textContainer {
      width: 100%;
    }

    .textContainer {
      padding: 30px 0;

      border-left: none;
      border-right: none;
      border-radius: 0;

      h1 {
        font-size: 3.5rem;
      }
    }
  }

// End of Query
}
// End of Header Queries ----->


// Main Queries ----->
@media (max-width: 1029px) {
  .questionTemplate {

    .wrapper {
      width: 90%;
    }

    h2 {
      font-size: 3.5rem;
    }

    .imageContainer {
      margin-left: 40px;
    }
  }

  // End of Query
}

@media (max-width: 910px) {
  .questionTemplate {

    h2 {
      font-size: 3rem;
    }

    form label {
      font-size: 2.25rem;
    }

    .imageContainer img {
      width: 250px;
    }

    .flexContainer {
      .content {
        flex: 1 0 400px;
      }
  
      .imageContainer {
        flex: 0 0 250px;
      }
    }

  }
  // End of Query
}

@media (max-width: 767px) {
  .questionTemplate {
    padding: 45px 0;

    .flexContainer {
      display: block;
    }

    .imageContainer {
      margin: 40px auto 40px auto;
      width: 65%;

      img {
        width: 100%;
      }
    }
  }
  // End of Query
}

@media (max-width: 460px) {
  .questionTemplate .textContainer {
    margin-bottom: 15px;
    padding: 15px;
  }

  button {
    font-size: 2.2rem;
    padding: 10px 20px;
  }

  .questionTemplate {
    padding: 20px 0;

    .imageContainer,
    form button {
      margin-top: 20px;
    }

    h2 {
      font-size: 2.5rem;
    }

    form {
      padding: 0;
      background: none;

      fieldset {
        padding: 15px;
      }

      label {
        font-size: 2rem;
      }
    }

  }
  // End of Query
}
// End of Main Queries ----->


// Footer Queries ----->
@media (max-width: 880px) {
  footer {
    padding: 45px 0;
    .imageContainer {
      margin: 0 auto;
    }

    h3 {
      font-size: 6rem;
    }

    p {
      font-size: 2.75rem;
    }
  }

  // End of Query
}

@media (max-width: 565px) {
  footer {
    .wrapper {
      width: 90%;
    }


    .flexContainer .textContainer {
      padding: 30px;
      flex: 1;

      h3 {
        font-size: 5.5rem;
      }

      p {
        font-size: 2.25rem;
      }
    }

    .imageContainer {
      padding-bottom: 0;
    }
  }

  // End of Query
}

@media (max-width: 440px) {
  footer {
    padding-top: 20px;

    .flexContainer .textContainer {
      padding: 15px;

      h3 {
        font-size: 4rem;
        padding-bottom: 10px;
      }

      p {
        font-size: 2rem;
        line-height: 1.2;
      }
    }

    .flexContainer .imageContainer {
      flex: 0 0 280px;
      padding: 5px 0;
    }

    .footerButton {
      margin-top: 10px;
      padding: 10px 30px;

      font-size: 2.5rem;
    }
  }
  
  // End of Query
}

// End of Footer Queries ----->

// Global Query - Attribution **
@media (max-width: 650px) {
  .attribution,
  footer .attribution {
    width: 100%;
    padding: 5px;
    display: block;
  }
}