html {
  font-size: 62.5%;
}

// Header Styles
header {

  .textContainer {
    text-align: center;
    h1 {
      font-size: 8rem;
      text-transform: capitalize;
    }

    p {
      font-size: 3.5rem;
    }
  }

  ul li p {
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
  }

  // End of Header
}

// Main Styles
.questionTemplate {
  
  h2 {
    font-size: 4rem;
  }

  // Form Styles
  form label {
    font-size: 2.5rem;
  }

// End of Main
}

// Footer Styles 
h3 {
  font-size: 4rem;
}