// Colours
$primary: #F0ECE3;
$secondary: #DFD3C3;
$tertiary: #C7B198;
$base : #000000;
$buttons: #596E79;
$earth: #206a5d;
$air: #3fa7d6;
$fire: #f28123;
$water: #1b4079;


// Fonts
$baseFont: 'Lato', sans-serif;
$titleFont: 'Lexend Zetta', sans-serif;