html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: #000000;
}

h1,
h2,
h3 {
  font-family: "Lexend Zetta", sans-serif;
  letter-spacing: -7px;
}

header .textContainer h1 {
  font-size: 7rem;
  text-transform: capitalize;
}

header .textContainer p {
  font-size: 3.5rem;
}

header .textContainer,
header ul li p {
  text-align: center;
}

header ul li p {
  font-weight: 700;
  text-transform: uppercase;
}

header ul li:nth-of-type(1) p {
  color: #206a5d;
}

header ul li:nth-of-type(2) p {
  color: #3fa7d6;
}

header ul li:nth-of-type(3) p {
  color: #f28123;
}

header ul li:nth-of-type(4) p {
  color: #1b4079;
}

header ul li p,
.questionTemplate h2 {
  font-size: 4rem;
}

.questionTemplate form label {
  font-size: 2.5rem;
}

footer h3 {
  font-size: 6.5rem;
}

footer p {
  font-size: 3rem;
  line-height: 1.3;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  width: 85%;
  max-width: 1240px;
  margin: 0 auto;
}

body {
  background: #F0ECE3;
}

.attributionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: 0;
          flex-direction: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.attribution {
  width: 325px;
  padding: 0 20px 5px 0;
  text-align: left;
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.attribution a {
  text-decoration: none;
  color: #000000;
}

.attribution a:hover, .attribution a:focus {
  color: #C7B198;
}

.headerButton,
button,
.footerButton {
  padding: 10px 50px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 3rem;
  letter-spacing: 1.5px;
  cursor: pointer;
  background: #596E79;
  color: #F0ECE3;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.headerButton:hover, .headerButton:focus-within,
button:hover,
button:focus-within,
.footerButton:hover,
.footerButton:focus-within {
  background: #C7B198;
  color: #596E79;
}

.headerButton:active,
button:active,
.footerButton:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

button {
  border: none;
}

header {
  padding: 45px 0;
  background: #F0ECE3;
}

header .textContainer {
  width: 85%;
  padding: 20px 0px;
  border: 10px solid #C7B198;
  border-radius: 50px;
  background: #DFD3C3;
}

header .textContainer h1 {
  padding-bottom: 20px;
}

header .textContainer p {
  width: 90%;
  margin: 0 auto;
}

header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul .imageContainer {
  width: 250px;
}

header ul .imageContainer:hover ~ .overlay {
  opacity: 1;
}

header ul .imageContainer:hover {
  opacity: 0.15;
}

header ul .imageContainer,
header .overlay {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

header .overlay {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
}

header .headerButton {
  margin: 20px 0 20px 0;
  padding: 10px 65px;
}

header ul li,
header {
  position: relative;
}

main {
  background: #DFD3C3;
}

.questionTemplate {
  padding: 100px 0;
}

.questionTemplate .flexContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.questionTemplate .flexContainer .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 475px;
          flex: 1 0 475px;
}

.questionTemplate .flexContainer .imageContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.questionTemplate .textContainer {
  margin-bottom: 40px;
}

.questionTemplate .textContainer,
.questionTemplate form fieldset {
  padding: 20px;
}

.questionTemplate .textContainer,
.questionTemplate form,
.questionTemplate form fieldset {
  border-radius: 20px;
}

.questionTemplate .textContainer,
.questionTemplate form {
  background: #F0ECE3;
}

.questionTemplate form {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.questionTemplate form div {
  margin-left: 40px;
}

.questionTemplate form .options input {
  opacity: 0;
}

.questionTemplate form .options input:focus {
  opacity: 1;
}

.questionTemplate form .options .selected {
  width: 25px;
  height: 25px;
  border: 3px solid #F0ECE3;
  border-radius: 50%;
  position: absolute;
  left: -40px;
  top: 4px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.questionTemplate form .options:hover input + .selected,
.questionTemplate form .options:focus input + .selected {
  background: #596E79;
}

.questionTemplate form .options input:checked + .selected {
  background: #596E79;
}

.questionTemplate form .options .selected,
.questionTemplate form fieldset {
  background: #C7B198;
}

.questionTemplate form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
}

.questionTemplate form fieldset div {
  padding: 10px 0;
}

.questionTemplate form button {
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.questionTemplate .imageContainer {
  margin-left: 100px;
}

.questionTemplate,
form .options {
  position: relative;
}

.questionTemplate {
  display: none;
}

footer {
  padding: 100px 0;
  background: #F0ECE3;
  position: relative;
  display: none;
}

footer .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: 0;
      -ms-flex-pack: 0;
          justify-content: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .flexContainer .textContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 475px;
          flex: 1 0 475px;
}

footer .flexContainer .imageContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
}

footer .textContainer {
  padding: 50px;
  background: #DFD3C3;
  border-radius: 20px;
}

footer .textContainer h3 {
  padding-bottom: 20px;
}

footer .imageContainer {
  margin-right: 50px;
  padding: 20px 0;
}

footer .footerButton {
  margin: 30px auto 30px auto;
}

footer .attribution {
  width: 440px;
}

@media (max-width: 1175px) {
  header ul {
    width: 78%;
  }
}

@media (max-width: 800px) {
  header ul {
    width: 100%;
  }
  header .textContainer h1 {
    font-size: 5.5rem;
  }
  header .textContainer p {
    font-size: 2.75rem;
  }
}

@media (max-width: 625px) {
  header .textContainer h1 {
    font-size: 4rem;
  }
  header .textContainer p {
    font-size: 2rem;
  }
  header ul .imageContainer {
    width: 150px;
  }
}

@media (max-width: 450px) {
  header {
    padding: 0 0 45px 0;
  }
  header .wrapper,
  header .textContainer {
    width: 100%;
  }
  header .textContainer {
    padding: 30px 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  header .textContainer h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 1029px) {
  .questionTemplate .wrapper {
    width: 90%;
  }
  .questionTemplate h2 {
    font-size: 3.5rem;
  }
  .questionTemplate .imageContainer {
    margin-left: 40px;
  }
}

@media (max-width: 910px) {
  .questionTemplate h2 {
    font-size: 3rem;
  }
  .questionTemplate form label {
    font-size: 2.25rem;
  }
  .questionTemplate .imageContainer img {
    width: 250px;
  }
  .questionTemplate .flexContainer .content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 400px;
            flex: 1 0 400px;
  }
  .questionTemplate .flexContainer .imageContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}

@media (max-width: 767px) {
  .questionTemplate {
    padding: 45px 0;
  }
  .questionTemplate .flexContainer {
    display: block;
  }
  .questionTemplate .imageContainer {
    margin: 40px auto 40px auto;
    width: 65%;
  }
  .questionTemplate .imageContainer img {
    width: 100%;
  }
}

@media (max-width: 460px) {
  .questionTemplate .textContainer {
    margin-bottom: 15px;
    padding: 15px;
  }
  button {
    font-size: 2.2rem;
    padding: 10px 20px;
  }
  .questionTemplate {
    padding: 20px 0;
  }
  .questionTemplate .imageContainer,
  .questionTemplate form button {
    margin-top: 20px;
  }
  .questionTemplate h2 {
    font-size: 2.5rem;
  }
  .questionTemplate form {
    padding: 0;
    background: none;
  }
  .questionTemplate form fieldset {
    padding: 15px;
  }
  .questionTemplate form label {
    font-size: 2rem;
  }
}

@media (max-width: 880px) {
  footer {
    padding: 45px 0;
  }
  footer .imageContainer {
    margin: 0 auto;
  }
  footer h3 {
    font-size: 6rem;
  }
  footer p {
    font-size: 2.75rem;
  }
}

@media (max-width: 565px) {
  footer .wrapper {
    width: 90%;
  }
  footer .flexContainer .textContainer {
    padding: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .flexContainer .textContainer h3 {
    font-size: 5.5rem;
  }
  footer .flexContainer .textContainer p {
    font-size: 2.25rem;
  }
  footer .imageContainer {
    padding-bottom: 0;
  }
}

@media (max-width: 440px) {
  footer {
    padding-top: 20px;
  }
  footer .flexContainer .textContainer {
    padding: 15px;
  }
  footer .flexContainer .textContainer h3 {
    font-size: 4rem;
    padding-bottom: 10px;
  }
  footer .flexContainer .textContainer p {
    font-size: 2rem;
    line-height: 1.2;
  }
  footer .flexContainer .imageContainer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    padding: 5px 0;
  }
  footer .footerButton {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 2.5rem;
  }
}

@media (max-width: 650px) {
  .attribution,
  footer .attribution {
    width: 100%;
    padding: 5px;
    display: block;
  }
}
